body {
    background-color: #667F75;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    margin: 0px;
    padding: 0px;
}

#page {
    padding: 30px;
    background-color: white;
    border-left: #a0b9bc 7px solid;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    overflow:auto;  
}

#logos {
    background-image: url('https://i.ibb.co/h2NChXj/Unti2tled.png');
    height: 183px;
    background-size: 100%;
    vertical-align: middle;
    width: 209px;
    display: inline-block;
}
 
#logotext {
    color: #006dd8;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    font-family: 'Yanone Kaffeesatz';
    text-shadow: #082744 2px 1px;
    margin: 0;
    background-repeat: no-repeat;
    display: inline-block;
}

#lisuto {
    background-color: #006dd8;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.dashitem {
    color: white;
    display: inline;
    font-weight: bold;
    padding: 0px 3px;
    border-left: solid white 2px;
    text-decoration: none;
}

.dashitm {
    color: white;
    display: inline;
    
    padding: 0px 3px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-size: inherit;
}

.dashitemr {
    color: white;
    display: inline;
    font-weight: bold;
    padding: 0px 3px;
    border-left: solid white 2px;
    border-right: solid white 2px;
    text-decoration: none;
}

.gapped {
    line-height: 40px;
}

.notice {
    padding: 9px;
    text-align: left;
    border: 2px black solid;
}

.roman {
    font-family: 'Times New Roman', Times, serif;
}

.bolding {
    font-weight: bold;
}

.left {
    text-align: left;
    padding: 20px;
}

.leftal {
    text-align: left;
}

#questions {
    text-align: left;
    padding: 0px 30px;
    line-height: 25px;
}

.caption {
    background-color: white;
    border: none;
    border-bottom: solid 2px black;
    color: blue;
    font-size: 25px;
    font-family: 'Sedgwick Ave' !important;
    text-decoration: underline;
    display: inline-block;
    text-align: left;
    line-height: 25px;
}

.inputtable {
    min-width: 80%;
    background-color: white;
    border: none;
    border-bottom: solid 2px black;
    color: blue;
    font-size: 25px;
    font-family: 'Sedgwick Ave' !important;
    text-decoration: underline;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    line-height: 25px;
}

#question {
    text-decoration: none;
}

.questionnable {
    min-width: 80%;
    background-color: white;
    border: none;
    border-bottom: solid 2px black;
    color: black;
    font-size: 19px;
    display: inline-block;
    text-align: left;
    padding-left: 9px;
}

.inputtableans {
    width: 100%;
}

.sizea {
    max-width: 900px;
}

#return {
    position: fixed;
    padding-top: 10px;
    background-color: white;
}

.home {
    background-color: #006dd8;
    color: white;
    padding: 10px;
}

.about {
    background-color: #3ec400;
    color: white;
    padding: 10px;
}

.data {
    background-color: #96147a;
    color: white;
    padding: 10px;
}

.reload {
    background-color: #d87300;
    color: white;
    padding: 10px;
}

.rogossu {
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 30px;
    
}

#warning {
    background-color: rgb(139, 11, 11);
    color: white;
    padding: 10px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
}

#warning:empty {
    display: none;  
}

#btnSubmit {
    background-color: #006dd8;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 9px;
    font-size: 30px;
    font-weight: bold;  
    text-align: center;
    margin: 0 auto !important;
}

#btnSubmit:active {
    background-color: rgb(175, 55, 34);
    color: white;
    border: none;
    border-radius: 10%;
    padding: 9px;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
}

.wrong {
    color: rgb(97, 9, 9);
}

.right {
    color: rgb(22, 131, 18);
}

.fa-home {
    color: white;
}

.calligraphy {
    font-family: 'Sedgwick Ave';
}

#demo {
    position: fixed;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-color: white;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
    text-align: center;
    text-shadow: rgb(154, 156, 156) 2px 1px;
    display: block;
    top: -30px;
    right: 0px;
}

.grade {
    position: fixed;
    font-family: 'Sedgwick Ave';
    color: rgb(219, 14, 14);
    font-size: 80px;
    text-shadow: rgb(73, 8, 8) 2px 1px;
    display: block;
    top: -50px;
    right: 0px;
    height: 80px;
}

#board {
    display: block;   
}

.singlecheck {
    text-decoration: none;
    padding-right: 40px;
}

.check {
    text-decoration: none;
}

.veracity {
    max-width: 50px;
}

.chosla {
    padding-right: 30px;
}

#quizlings {
    padding: 10px;
    border-radius: 10px;
}

.tgt {
    margin: 0 auto;
    padding: 20px;
    border-collapse:collapse;
    border-spacing:0;
}

.tgt td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tgt th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tgt .tgt-0lax {
    text-align:center;
    vertical-align:top
}

