<h1>Editing evaluable</h1>

<%= render "form", evaluable: @evaluable %>

<br>

<div>
  <%= link_to "Show this evaluable", @evaluable %> |
  <%= link_to "Back to evaluables", evaluables_path %>
</div>
