<div style="background-color: red; padding: 10px; color: black"><div style="background-color: black; color: white; padding: 30px; max-width: 100%; font-size: 40px">
Standardized Experience</div>
Lala la la la<br>
Ti ti ti RAS