<div id='navbar' style='background-color: black;'><ul>
    <li id='timer' class='li-result time li-right'>0<%= @quizDurations[@currentQuiz.level] %>:00</li>
</ul></div>
<script type='text/javascript'>
var quiz_timer = <%= @quizDurations[@currentQuiz.level] %>;
</script>