<nav class='navbar navbar-expand-lg navbar-dark bg-dark py-1'><ul class='navbar-nav'>
</ul>
  <li class='me-0 ms-auto text-white p-1'><%= fa_icon 'clock-o', class: 'align-middle' %> <b  id='timer'><%= @quiz_durations[@quiz.level] %>:00</b></li>
</nav>
<script type='text/javascript'>
var quiz_timer = <%= 1 %>;
</script>