<nav id="timing-bar" class='w-100 hiding position-fixed navbar navbar-expand-lg navbar-dark bg-dark py-1'>
  <div class='me-0 ms-auto text-white p-1'><%= fa_icon 'clock-o', class: 'align-middle' %> <b id='timer' class="pe-1 align-middle" style="display: inline-block"><%= react_component('QuizTimer', {endTime: @quiz_durations[@quiz.level].minutes.from_now.to_f * 1000}, fire: @ost[1][@ost_index]) %></b></div>
</nav>