<div id='page'>
    <div id='logoimage'></div>
    <h1 id='logotext'>Standardized Experience</h1>
    
    <p><b>Current journey progress is:</b> <%=params[:level]%><br><b>Current subject is:</b> <%= params[:subject] %></b></p>
</div>