<footer class="bg-primary w-100 text-white p-2">2021-2022 Standardized Experience, standardized-experience.herokuapp.com.<br>
<span class="text-muted fs-7"><i>Standardized Experience 3.0.5 "BSTR"<br>Logo por karu#0170</i></span></footer>
