<div class="btn-group d-flex" role="group" aria-label="Basic example">
  <% [[question_path, 'Questão', 'question-circle'],
   [subject_path, 'Disciplina', 'book'],
   [statistics_path, 'Estatísticas', 'graduation-cap'],
   [configurations_path, 'Configurações', 'cogs']].each do |data_button| %>
    <%= link_to (current_page?(data_button[0]) ? '#' : data_button[0]), class: "btn btn-primary p-1 #{current_page?(data_button[0]) ? 'active w-100 text-info' : 'text-white'}" do %>
    <%= fa_icon data_button[2] %><br><%= data_button[1] %>
    <% end %>
  <% end %>
</div>