<head><title>About | SE</title></head><%=render 'header'%>
<p><b style='font-size: 30px;'>What is this?</b>
<br>
<span style='display: inline-block; color: white; background-color: #0051B5; padding: 0px 4px; border-radius: 3px; font-weight: bold'>
@standardized-experience</span> is a tool designed to practice for exams, trying as much as possible to simulate 
the conditions that are present during them. Time limit, scoring, test design...As long as you can get familiar
 with tests as if they weren't special, getting those perfect scores might just not be a distant dream now!
<br><br>
At this time, Standardized Experience gets updates from time to time, which may not necessarily be 
improving an existing feature. It could even erase current features! This is because my view of it is 
constantly changing, although the core features, such as Journeys, Quizzes and Subjects, will never be 
gone, as they are part of its essence.
<br></p>
<p style='text-align: center'>Happy studying!</p>