<head><title>Configurações | SE</title></head><%=render 'header'%><%= render 'nav_data' %>
<br>
<b>Leniente</b><br>
Se ao tentar questões abertas ou múltiplas abertas, em vez de fazer em quotação mediante o quão correto está
a resposta, será mediante quantas palavras conseguiu acertar.<br>
<br>
<b>Modo de Jornada</b><br>
Fará jornadas rápidas, ou que seráo em dias específicos? Não poderá ver os efeitos até que termine a jornada
decorrendo e faça uma nova.<br>
<br>
</div>