<head>
  <title>Cadeiras | SE</title>
</head>

<%= render 'shared/header' %>
<%= render 'shared/nav_data' %>
<%= react_component('DataSubject', 
{auth_token: @auth_token, formulas: @formulas, stat: current_user.stat.id}) %>

</div>
<%= render 'shared/footer' %>