<head><title>About | SE</title></head>
<%= render 'shared/header' %>
<%= render "shared/notification" %>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What's this?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <span style='display: inline-block; color: white; background-color: #0051B5; padding: 0px 4px; border-radius: 3px; font-weight: bold'>
        @standardized-experience</span> is a tool designated to simulate the conditions of a test/exam
given at schools, universities, colleges, etc.. I believe the foundation of knowledge is experience.
If you face a problem at the present and manage to solve it, you'll know how to face it in the future. The same
applies to any part of life.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Why replicate tests and exams?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Experience is the best teacher.</strong> Despite the evaluation being stricter, where there's only one correct answer and variations aren't accepted,
        this will allow you to know your weak points and your strong points.
        Normally, the student tries hard to study, destined to know if they'll manage or not when the test/exam arrives. By practicing in similar conditions before the real thing,
        you'll be better prepared than going in blind. That is, if you cover your weak points by then.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Question types
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        There are currently eight types of questions in Standardized Experience:<br><br>
        <h4>Open</h4>
        <p>
        The answer is one or more sentences that satisfy the question's conditions.<br>If more than one
        answer is provided, the question will be correct if any one of them is used.<br>
        </p>
        <h4>List</h4>
        <p>
        The answer is a list of elements that satisfy the question's conditions.<br>In order to be correct,
        all elements must be present.<br>
        </p>
        <h4>Choice</h4>
        <p>
        Various options will be given to the questios, where at least one of them is correct and must be selected
        to be correct.<br>
        </p>
        <h4>Veracity</h4>
        <p>
        A random number of sentences will be given out of a pool, where the ones that match the question's
        criteria must be selected.<br>
        </p>
        <h4>Formula</h4>
        <p>
        The answer is the solution to the problem exposed on the question, which involves calculations.<br>
        This question type is currently hidden for an overhaul.<br>
        </p>
        <h4>Table</h4>
        <p>
        A grid-like arrangement with blank areas that must be completed.<br>
        </p>
        <h4>Match</h4>
        <p>
        Two columns are given, where the arrows of each element on one side must correspond to its
        match on the other side.<br>
        </p>
        <h4>Fill</h4>
        The blank spaces in the provided sentences must be filled with their answers.
        <p>
        
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Subject test types
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        A subject's test type can be either:<br>
        <ul>
          <li>Regular</li>
          <li>Timed (answer)</li>
        </ul>
        Regular tests display the whole list of questions, letting you to answer whichever you want, whenever you want,
        within the time limit. Timed tests show one question at a time, alloting a pre-determined amount of time for 
        each question, and once a question's time is up, you won't be able to answer it afterwards.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Parameters
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Some question types may possess parameters that make a slight adjust on how it is evaluated:<br><br>
        <h4>Strict</h4>
        Usually, uppercase and lowercase letters make no difference in an answer. With this parameter enabled, the answer must exactly match the case as well.
        <h4>Order</h4>
        List type questions' answers must obey the question's original order.
        <h4>Shuffle</h4>
        The elements of a question might be displayed in an order different than usual. In a table type question, that will only
        apply to the blank spaces.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Recommendations on using Standardized Experience
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <strong>Simply memorizing will not be enough.</strong> I believe the best approach is to make up an answer if you don't know anything. Try to make a theory you think makes the most sense,
      and then write that down. Afterwards, compare the answer logically and see where you're going wrong. As it's easier to memorize things you yourself came up with, you'll also memorize your
      own mistakes, and those very same mistakes will point you to the right answer by conditioning to think "But when I thought like this, it was wrong and it was actually that" or along the lines.
      <br>
      Try to minimize the amount of words in Open, List, Formula, Fill and Table question types as much as possible that the answer is still logically sound and correct. Otherwise the answer might be
      moreso testing how much you can write. And also, use simpler/shorter words that convey the same meaning. For example, replacing "therefore" with "so" in applicable context
      cuts to the chase. Getting the logic of the answer should be your first goal, and you can always prettify your answers on the real thing. Developing a set of rules for writing your
      questions might be helpful for you.
      <br>
      And lastly, do at least one practice test daily.
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>