.btnType {
    display: inline-block;
    margin-bottom: 1em;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  
  .offType {
    background-color: #1a3351;
    transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    /*content: ' (an album)';*/
  }

  .offType:hover {
    background-color: #188da5;
  }
  
  .onType {
    font-weight: bold;
    background-color: #00bde3;
  }
  
#questiontype {
  display: inline-block
}

#subject {
  border: none;
  background-color: white;
}

.input-data {
  font-size: large;
  font-family: inherit;
  min-width: 50%;
}

.submitBtn {
  display: block;
  border: none;
  background-color: black;
  color: white;
}