body {
    background-color: #3B354E;
    font-family: 'Fredoka', sans-serif;
    font-size:large;
}

/* =====STANDARDIZED BRAND===== */
#navbar {
    background-color: #0051B5;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 32px;
    z-index: 100;
}

#logoimage {
    background-image: url('https://i.ibb.co/r0078kt/XPLogo.png');
    width: 270px;
    height: 206px;
    background-size: 100%;
    display: inline-blocK;
    vertical-align: middle;
}

#logotext {
    font-family: 'Titillium Web', sans-serif;
    color: #0051b5;
    text-shadow: #000c6a 4px 0px;
    font-style: italic;
    font-size: 55px;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li-home {
    background-color: #0051B5;
    display: inline;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}

.li-right {
    float: right;
}

.bold {
    font-weight: bold;
}
.li-home:hover {
    background-color: #3C78E0;
    color: yellow;
}

.erasable {
    font-size: x-large;
}

@media screen and (max-width: 768px) {
    .erasable {
        font-size: 0px;
    }    

    li {
        font-size: 22px;
    }

    #logoimage {
        margin: 0 auto;
        display: block;
    }
}
/* ==================================================== */

#page {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 11px 55px 50px black;
    padding-top: 30px;
}

label[for='image'] {
    cursor: pointer;
    font-size: 12px;
    border: 2px solid black;
    padding: 7px 15px;
    background-size: 100%;
}

#image {
    visibility: none;
    display: none;
}
