body {
    background-color: #3B354E;
    font-family: 'Fredoka', sans-serif;
    font-size:large;
    /*font-family: 'Dancing Script', cursive; exam*/
}

/* =====STANDARDIZED BRAND===== */
#navbar {
    background-color: #0051B5;
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 32px;
}

#logoimage {
    background-image: url('https://i.ibb.co/r0078kt/XPLogo.png');
    width: 270px;
    height: 206px;
    background-size: 100%;
    display: inline-blocK;
    vertical-align: middle;
    margin: auto 0px;
}

#logotext {
    font-family: 'Titillium Web', sans-serif;
    color: #0051b5;
    text-shadow: #000c6a 4px 0px;
    font-style: italic;
    font-size: 55px;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #0051B5;
    display: inline;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}

.li-right {
    float: right;
}

.bold {
    font-weight: bold;
}

li:active {
    background-color: white;
    color: black;
}

li:hover {
    background-color: #3C78E0;
    color: yellow;
}

.erasable {
    font-size: 0px;
}

@media screen and (min-width: 768px) {
    #erasable {
        font-size: x-large;
    }
    
}
/* ==================================================== */

#page {
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 11px 55px 50px black;
    padding-top: 30px;
}