
#logoquiz {
    background-image: url('https://i.ibb.co/8DR0wJS/XPLogo-Black.png');
    width: 270px;
    height: 206px;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}

.li-result {
    background-color: black;
    display: inline;
    color: white;
    padding: 2px 10px;
    font-weight: bold;
}

.li-result:hover {
    background-color: #585858;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.grade {
    font-family: 'Reenie Beanie', cursive;
    color: red;
    font-weight: bold;
    background:transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size: 2rem;
    border-top-left-radius: 90% 50%;
    border-top-right-radius: 50% 70%;
    border-bottom-right-radius: 70% 50%;
    border-bottom-left-radius:50% 80%;
    border-left: solid 3px red;
    border-right: solid 2px red;
    border-bottom: solid 3px red;
    position: absolute;
}

.score {
    font-family: 'Reenie Beanie', cursive;
    color: red;
    font-weight: bold;
    background:transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size: 4rem;
    border-top-right-radius: 90% 50%;
    border-top-left-radius: 50% 70%;
    border-bottom-left-radius: 70% 50%;
    border-bottom-right-radius:50% 80%;
    border-left: solid 3px red;
    border-right: solid 2px red;
    border-bottom: solid 3px red;
    position: absolute;
    left: 60%;
}

.ck, .ek {
    filter: invert(23%) sepia(96%) saturate(7122%) hue-rotate(357deg) brightness(97%) contrast(113%);
    background-image: url('https://i.ibb.co/bm3QSG1/ck.png');
    display: block;
    width: 9rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

.ek {
    background-image: url("https://i.ibb.co/JpRBh8t/mxm.png");
    width: 8rem;
    height: 9rem;
    background-size: 75%;
}

.input-name, .input-code, .input-answer {
    border: none;
    font-family: 'Homemade Apple', cursive;
    color: blue;
    font-size: larger;
    padding-left: 4px;
    text-decoration: underline;
    text-decoration-color: black;
    line-height: 2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}