<p style="color: green"><%= notice %></p>

<h1>Stats</h1>

<div id="stats">
  <% @stats.each do |stat| %>
    <%= render stat %>
    <p>
      <%= link_to "Show this stat", stat %>
    </p>
  <% end %>
</div>

<%= link_to "New stat", new_stat_path %>
